<div class="box">
  <%= yield %>
</div>

<p>
  <%= link_to({ controller: 'doc/subjects', action: 'code', meta_controller: 'print/api/tasks', meta_action: 'create' } , class: 'button is-fullwidth is-warning') do %>
    <span>文档：普通打印</span>
  <% end %>
</p>
<p>
  <%= link_to({ controller: 'doc/subjects', action: 'code', meta_controller: 'print/api/tasks', meta_action: 'template' } , class: 'button is-fullwidth is-warning') do %>
    <span>文档：模板打印</span>
  <% end %>
</p>