<th><%= Print::Task.human_attribute_name(:aim) %></th>
<th>
  <p class="text-grey"><%= Print::Task.human_attribute_name(:created_at) %></p>
  <p class="text-success"><%= Print::Task.human_attribute_name(:completed_at) %></p>
</th>
<th><%= Print::Task.human_attribute_name(:body) %></th>
