<div class="grid">
  <%= link_to({ controller: 'print/admin/mqtt_printers' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('print.admin.mqtt_printers.index.title') %></span>
  <% end %>
</div>
