<div class="card as-transparent">
  <div class="card-header">
    <span class="size-7 text-grey has-border-left-primary">云打印机</span>
    <%= link_to({ controller: 'mqtt_printers' }) do %>
      <span>更多</span>
      <%= svg_tag 'angles-right' %>
    <% end %>
  </div>
  <div class="card-content">
    <%= yield %>
  </div>
</div>
