<p>
  <%= link_to({ controller: 'mqtt_printers', action: 'show', id: model.id }) do %>
    <span>IMEI:</span>
    <span><%= model.dev_imei %></span>
  <% end %>
</p>
<div data-controller="clipboard" data-action="click->clipboard#copyInner" class="clipboard">
  <span>打印任务地址：</span>
  <span data-clipboard-target="source" class="truncate"><%= model.webhook_url %></span>
  <%= svg_tag 'clone', class: 'icon is-small ml-1 text-grey copy' %>
</div>
