<div class="box is-padding-less">
<% @printer_aims.each do |printer_aim| %>
  <div class="media">
    <div class="media-content">
      <%= printer_aim.printer.name %>
    </div>
    <div class="media-right">
      <%= button_to({ action: 'actions', printer_id: printer_aim.printer_id, **params.permit(:gid, :aim) }, class: 'button is-borderless') do %>
        <%= svg_tag 'print' %>
      <% end %>
    </div>
  </div>
<% end %>
</div>