<p><%= model.dev_imei %></p>
<div class="tags">
  <% model.devices.each do |device| %>
    <%= link_to({ controller: 'tasks', device_id: device.id }, text: true) do %>
      <span class="tag"><%= device.aim_i18n %></span>
    <% end %>
  <% end %>
</div>
