<p><%= model.dev_imei %></p>
<div class="tags">
  <% model.printer_aims.each do |printer_aim| %>
    <%= link_to({ controller: 'tasks', printer_id: model.id, aim: printer_aim.aim }, text: true) do %>
      <span class="tag"><%= printer_aim.aim_i18n %></span>
    <% end %>
  <% end %>
</div>
