<td><%= link_to model.ip, { controller: 'mqtt_acls', mqtt_user_id: model.id } %></td>
<td><%= model.note %></td>
<td><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></td>
