<div>
  <dt>打印任务 URL：</dt>
  <dd data-controller="clipboard">
    <div class="text-left">
      <span data-clipboard-target="source" class="is-wrap"><%= @mqtt_printer.webhook_url %></span>
      <span data-action="click->clipboard#copy" class="tag is-badge is-danger">复制</span>
      <span data-clipboard-target="toast" class="tag is-badge is-success display-none">
        <%= svg_tag 'check' %>
      </span>
    </div>
  </dd>
</div>
<div>
  <dt></dt>
  <dd>
    <div class="tags justify-content-flex-end">
    <% @mqtt_printer.devices.each do |device| %>
      <%= link_to({ controller: 'tasks', device_id: device.id }, text: true) do %>
        <span class="tag"><%= device.aim_i18n %></span>
      <% end %>
    <% end %>
    </div>
  </dd>
</div>
