<div>
  <dt>打印任务 URL：</dt>
  <dd data-controller="clipboard">
    <div class="text-left">
      <span data-clipboard-target="source" class="is-wrap"><%= @mqtt_printer.webhook_url %></span>
    </div>
    <div class="weui-badge weui-badge__default" data-action="click->clipboard#copy">复制</div>
    <div data-clipboard-target="toast" class="display-none">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">复制成功</p>
      </div>
    </div>
  </dd>
</div>