<li>
<% if @printer.is_a? Print::MqttPrinter %>
  <%= link_to t('.mqtt_printers.index.title'), { controller: 'mqtt_printers' } %>
<% else %>
  <%= link_to t('.bluetooth_printers.index.title'), { controller: 'bluetooth_printers' } %>
<% end %>
</li>
<li class="is-active"><%= t('.title') %></li>
