<td><%= link_to model.name, { controller: 'template_items', template_id: model.id } %></td>
<td><%= simple_format model.code_kinds %></td>
<td>
  <%= button_to({ controller: 'template_tasks', action: 'new', template_id: model.id }, class: 'button is-info') do %>
    <span><%= t('.template_tasks.new.title') %></span>
  <% end %>
</td>
