<td><%= model.name %></td>
<td><%= model.dev_type_i18n %></td>
<td>
  <div class="tags">
    <% model.printer_aims.each do |printer_aim| %>
      <%= link_to({ controller: 'tasks', printer_id: model.id, aim: printer_aim.aim }, text: true) do %>
        <span class="tag"><%= printer_aim.aim %></span>
      <% end %>
    <% end %>
  </div>
</td>
