<li><%= link_to t('.mqtt_printers.index.title'), { controller: 'mqtt_printers' } %></li>
<li><span class="px-3"><%= @mqtt_printer.dev_imei %></span></li>
<li class="is-active"><%= t('.title') %></li>
